@using WeChatModel.DatabaseModel
@model List<WeChatModel.DatabaseModel.Syscontent>

@{
    Layout = "~/Views/Share/_Layout.cshtml";
    var topNoList = ViewBag.TopNoList != null ? (List<Syscontent>)ViewBag.TopNoList : null;
    int page = ViewBag.Page;
    int pageCount = ViewBag.PageCount;
}

<div class="welcome">您现在的位置是：首页>@ViewBag.Title</div>
<div class="blogbox">
    <div class="bloglist">
        <ul>
            @if (Model != null && Model.Count > 0)
            {
                foreach (var syscontent in Model)
                {
                    <li>
                        <h2><a href="@Url.Action("BlogDetail","Home",new {id=syscontent.Id})">@syscontent.Title</a></h2>
                        @if (!string.IsNullOrEmpty(syscontent.ContentDisImage))
                        {
                            <i><a href="/"><img src="@(syscontent.ContentDisImage)"></a></i>
                        }
                        <p class="blogtext">@syscontent.Introduction</p>
                        <p class="bloginfo"><span>FreshMan</span><span>@syscontent.CreateTime.ToString("yyyy年MM月dd日 HH:mm")</span><span>@syscontent.ContentFlag</span></p>
                    </li>
                }
            }
        </ul>
    </div>
    <div class="pagelist">
        <a title="Total record">&nbsp;<b>共@(ViewBag.Total)条</b> </a>&nbsp;&nbsp;&nbsp;
        @if (pageCount > 0)
        {
            if (page > 1)
            {
                <a href="@(ViewBag.Url+"?page=1")">首页</a>
                <a href="@(ViewBag.Url+"?page="+(page-1))">上一页</a>
            }
            if (pageCount > 6)
            {
                var beginIndex = page - 3;
                var endIndex = page + 2;
                if (beginIndex < 1)
                {
                    beginIndex = 1;
                    endIndex = beginIndex + 6;
                }
                if (endIndex > pageCount)
                {
                    endIndex = pageCount;
                    beginIndex = endIndex - 6;
                }
                for (int i = beginIndex; i <= endIndex; i++)
                {
                    if (page == i)
                    {
                        <b>@(i)</b>
                    }
                    else
                    {
                        <a href="@(ViewBag.Url+"?page="+i)">@(i)</a>
                    }
                }
            }
            else
            {
                for (int i = 1; i <= pageCount; i++)
                {
                    if (page == i)
                    {
                        <b>@(i)</b>
                    }
                    else
                    {
                        <a href="@(ViewBag.Url+"?page="+i)">@(i)</a>
                    }
                }
            }
            if (page != pageCount)
            {
                <a href="@(ViewBag.Url+"?page="+(page+1))">下一页</a>
                <a href="@(ViewBag.Url+"?page="+pageCount)">尾页</a>
            }
        }
    </div>
</div>
<div class="rside">
    @if (topNoList != null && topNoList.Count > 0)
    {
        <div class="news">
            <h2 class="newstitle"><b>文章排行</b></h2>
            <ul>
                @foreach (var syscontent in topNoList)
                {
                    <li><a href="@Url.Action("BlogDetail","Home",new {id=syscontent.Id})"><span>@syscontent.CreateTime.ToString("MM/dd")</span>@syscontent.Title</a></li>
                }
            </ul>
        </div>
    }
</div>