@model WeChatModel.DatabaseModel.Syscontent

@{
    ViewBag.Title = string.IsNullOrEmpty(Model.Title) ? "博客详情" : Model.Title;
    ViewBag.KeyWords = Model.ContentFlag;
    Layout = ViewBag.RootNote + "/Views/Share/_Layout.cshtml";
}

<div class="welcome">您现在的位置是：首页>博客详情</div>
<div class="blogbox">
    <div class="contentbox">
        <h2 class="contitle">@Model.Title</h2>
        <p class="bloginfo">
            <span>FreshMan</span>
            <span>@Model.CreateTime.ToString("yyyy年MM月dd日 HH:mm")</span>
            @if (!string.IsNullOrEmpty(Model.ContentFlag))
            {
                <span>@Model.ContentFlag</span>
            }
        </p>
        <p class="jianjie"><b>简介</b>@Model.Introduction</p>
        <div class="entry">
            @Html.Raw(Model.Content)
        </div>
        @if (!string.IsNullOrEmpty(Model.AttachmentFile))
        {
            <div class="down">
                <p><strong>下载地址：</strong></p>
                <p>文件名称：@(Model.AttachmentFileName)</p>
                <p>文件大小：@(Model.AttachmentFileSize)KB</p>
                <p>更新日期：@(Model.CreateTime.ToString("yyyy/MM/dd"))</p>
                <div class="downlink">
                    <strong>
                        <a class="downbtn" title="@(Model.AttachmentFileName)" href="@(Model.AttachmentFile)" target="_blank">点击下载</a>
                    </strong>
                </div>
            </div>
        }
        @if (!string.IsNullOrEmpty(Model.ContentSource))
        {
            <div class="share">文章来源： @Model.ContentSource </div>
        }

        <div class="nextinfo">
            <p>上一篇：<a href="/download/f/881.html">纯文字个人博客模板《时尚黑》</a></p>
            <p>下一篇：<a href="/download/f/886.html">html5 个人博客模板《蓝色畅想》</a></p>
        </div>
    </div>
    @*<div class="viewbox">
            <h2 class="newstitle"><b>随便看看</b></h2>
            <ul>
                <li>
                    <a href="/">
                        <i><img src=""></i>
                        <p>带</p>
                        <span>2018年7月25日</span>
                    </a>
                </li>
            </ul>
        </div>*@

    <div class="pinlun">
        <h2 class="newstitle"><b>评论</b></h2>
        <div class="gbok">
            评论插件
        </div>
    </div>

</div>
<div class="rside">
    <div class="news">
        <h2 class="newstitle"><b>文章排行</b></h2>
        <ul>
            <li><a href="/"><span>08-30</span>如何快速建立自己的个人博客网站</a></li>
            <li><a href="/"><span>08-30</span>个人博客，属于我的小世界！</a></li>
            <li><a href="/"><span>08-30</span>网易博客关闭，何不从此开始潇洒行走江湖！</a></li>
            <li><a href="/"><span>08-30</span>个人网站做好了，百度不收录怎么办？来，看看他们怎么做的。</a></li>
            <li><a href="/"><span>08-30</span>帝国cms 循环调用子栏目信息以及头条图片</a></li>
            <li><a href="/"><span>08-30</span>我是怎么评价自己的？</a></li>
            <li><a href="/"><span>08-30</span>html5 个人博客模板《蓝色畅想》</a></li>
            <li><a href="/"><span>08-30</span>【匆匆那些年】总结个人博客经历的这四年</a></li>
        </ul>
    </div>
    <div class="news">
        <h2 class="newstitle"><b>本栏推荐</b></h2>
        <ul>
            <li><a href="/"><span>08-30</span>如何快速建立自己的个人博客网站</a></li>
            <li><a href="/"><span>08-30</span>个人博客，属于我的小世界！</a></li>
            <li><a href="/"><span>08-30</span>网易博客关闭，何不从此开始潇洒行走江湖！</a></li>
            <li><a href="/"><span>08-30</span>个人网站做好了，百度不收录怎么办？来，看看他们怎么做的。</a></li>
            <li><a href="/"><span>08-30</span>帝国cms 循环调用子栏目信息以及头条图片</a></li>
            <li><a href="/"><span>08-30</span>我是怎么评价自己的？</a></li>
            <li><a href="/"><span>08-30</span>html5 个人博客模板《蓝色畅想》</a></li>
            <li><a href="/"><span>08-30</span>【匆匆那些年】总结个人博客经历的这四年</a></li>
        </ul>
    </div>
    <div class="news">
        <h2 class="newstitle"><b>栏目更新</b></h2>
        <ul>
            <li><a href="/"><span>08-30</span>如何快速建立自己的个人博客网站</a></li>
            <li><a href="/"><span>08-30</span>个人博客，属于我的小世界！</a></li>
            <li><a href="/"><span>08-30</span>网易博客关闭，何不从此开始潇洒行走江湖！</a></li>
            <li><a href="/"><span>08-30</span>个人网站做好了，百度不收录怎么办？来，看看他们怎么做的。</a></li>
            <li><a href="/"><span>08-30</span>帝国cms 循环调用子栏目信息以及头条图片</a></li>
            <li><a href="/"><span>08-30</span>我是怎么评价自己的？</a></li>
            <li><a href="/"><span>08-30</span>html5 个人博客模板《蓝色畅想》</a></li>
            <li><a href="/"><span>08-30</span>【匆匆那些年】总结个人博客经历的这四年</a></li>
        </ul>
    </div>
</div>
