@using WeChatModel.DatabaseModel
@model WeChatModel.DatabaseModel.Syscontent

@{
    ViewBag.Title = string.IsNullOrEmpty(Model.Title) ? "博客详情" : Model.Title;
    ViewBag.KeyWords = Model.ContentFlag;
    Layout = ViewBag.RootNote + "/Views/Share/_Layout.cshtml";
    var topNoList = ViewBag.TopNoList != null ? (List<Syscontent>)ViewBag.TopNoList : null;
    var preContent = ViewBag.Pre != null ? (Syscontent)ViewBag.Pre : null;
    var nextContent = ViewBag.Next != null ? (Syscontent)ViewBag.Next : null;
}

<div class="welcome">您现在的位置是：首页>博客详情</div>
<div class="blogbox">
    <div class="contentbox">
        <h2 class="contitle">@Model.Title</h2>
        <p class="bloginfo">
            <span>FreshMan</span>
            <span>@Model.CreateTime.ToString("yyyy年MM月dd日 HH:mm")</span>
            @if (!string.IsNullOrEmpty(Model.ContentFlag))
            {
                <span>@Model.ContentFlag</span>
            }
            <span>@(ViewBag.ViewCount == null ? 0 : ViewBag.ViewCount)</span>
        </p>
        <p class="jianjie"><b>简介</b>@Model.Introduction</p>
        <div class="entry">
            @Html.Raw(Model.Content)
        </div>
        @if (!string.IsNullOrEmpty(Model.AttachmentFile))
        {
            <div class="down">
                <p><strong>下载地址：</strong></p>
                <p>文件名称：@(Model.AttachmentFileName)</p>
                <p>文件大小：@(Model.AttachmentFileSize)KB</p>
                <p>更新日期：@(Model.CreateTime.ToString("yyyy/MM/dd"))</p>
                <div class="downlink">
                    <strong>
                        <a class="downbtn" title="@(Model.AttachmentFileName)" href="@(Model.AttachmentFile)" target="_blank">点击下载</a>
                    </strong>
                </div>
            </div>
        }
        @if (!string.IsNullOrEmpty(Model.ContentSource))
        {
            <div class="share">文章来源： @Model.ContentSource </div>
        }

        <div class="nextinfo">
            <p>
                上一篇：
                @if (preContent != null)
                {
                    <a href="@(ViewBag.RootNote)/Home/BlogDetail?id=@(preContent.Id)">@(preContent.Title)</a>
                }
                else
                {
                    <span>没有了</span>
                }
            </p>
            <p>
                下一篇：
                @if (nextContent != null)
                {
                    <a href="@(ViewBag.RootNote)/Home/BlogDetail?id=@(nextContent.Id)">@(nextContent.Title)</a>
                }
                else
                {
                    <span>没有了</span>
                }
            </p>
        </div>
    </div>
    @*<div class="viewbox">
                <h2 class="newstitle"><b>随便看看</b></h2>
                <ul>
                    <li>
                        <a href="/">
                            <i><img src=""></i>
                            <p>带</p>
                            <span>2018年7月25日</span>
                        </a>
                    </li>
                </ul>
            </div>

        <div class="pinlun">
            <h2 class="newstitle"><b>评论</b></h2>
            <div class="gbok">
                评论插件
            </div>
        </div>*@

</div>
<div class="rside">
    @if (topNoList != null && topNoList.Count > 0)
    {
        <div class="news">
            <h2 class="newstitle"><b>文章排行</b></h2>
            <ul>
                @foreach (var syscontent in topNoList)
                {
                    <li><a href="@(ViewBag.RootNote)/Home/BlogDetail?id=@(syscontent.Id)"><span>@syscontent.CreateTime.ToString("MM/dd")</span>@syscontent.Title</a></li>
                }
            </ul>
        </div>
    }
</div>
