@using WeChatModel.DatabaseModel
@model dynamic
@{
    Layout = "/Views/Share/_Layout.cshtml";
    ViewBag.Title = "FreshMan个人博客";
    var technologyList = ViewBag.TechnologyList != null ? (List<Syscontent>)ViewBag.TechnologyList : null;
    var lifeFeelList = ViewBag.LifeFeelList != null ? (List<Syscontent>)ViewBag.LifeFeelList : null;
    var openSourceList = ViewBag.OpenSourceList != null ? (List<Syscontent>)ViewBag.OpenSourceList : null;
    var sliderList = ViewBag.SliderList != null ? (List<SysadvertisementModel>)ViewBag.SliderList : null;
}


<div class="welcome"> 您好，欢迎您访问我的网站！ </div>
<div class="picbox">
    @if (sliderList != null && sliderList.Count > 0)
    {
        <h2 class="pictitle"><a href="/">博客精选</a></h2>
        <!--box begin-->
        <div class="Box_con">
            <span class="btnl btn" id="btnl"></span> <span class="btnr btn" id="btnr"></span>
            <div class="conbox" id="BoxUl">
                <ul>
                    @foreach (var sysadvertisementModel in sliderList)
                    {
                        <li class="cur">
                            <a href="@(sysadvertisementModel.AdvertiUrl)">
                                <img src="@(sysadvertisementModel.ResourceUrl)" alt="@(sysadvertisementModel.AdvertiTip)" />
                                <p>@(sysadvertisementModel.AdvertiName)</p>
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>
        <!--box end-->
    }
</div>
<div class="newsbox">
    @if (technologyList != null && technologyList.Count > 0)
    {
        <section>
            <div class="news">
                <h2 class="newstitle"><span><a href="@(ViewBag.RootNode)/Home/BlogHistory">更多</a></span><b>个人博客日记</b></h2>
                <ul>
                    @foreach (var technology in technologyList)
                    {
                        <li><a href="@Url.Action("BlogDetail","Home",new {id=technology.Id})"><span>@(technology.CreateTime.ToString("yyyy/MM/dd"))</span>@technology.Title</a></li>
                    }
                </ul>
            </div>
        </section>
    }

    @if (openSourceList != null && openSourceList.Count > 0)
    {
        <section>
            <div class="news">
                <h2 class="newstitle"><span><a href="@(ViewBag.RootNode)/Home/OpenSourceArea">更多</a></span><b>开源专区</b></h2>
                <ul>
                    @foreach (var openSource in openSourceList)
                    {
                        <li><a href="@Url.Action("BlogDetail","Home",new {id=openSource.Id})"><span>@(openSource.CreateTime.ToString("yyyy/MM/dd"))</span>@openSource.Title</a></li>
                    }
                </ul>
            </div>
        </section>
    }

    @if (lifeFeelList != null && lifeFeelList.Count > 0)
    {
        <section>
            <div class="news">
                <h2 class="newstitle"><span><a href="@(ViewBag.RootNode)/Home/Life">更多</a></span><b>生活感悟</b></h2>
                <ul>
                    @foreach (var lifeFeel in lifeFeelList)
                    {
                        <li><a href="@Url.Action("BlogDetail","Home",new {id=lifeFeel.Id})"><span>@(lifeFeel.CreateTime.ToString("yyyy/MM/dd"))</span>@lifeFeel.Title</a></li>
                    }
                </ul>
            </div>
        </section>
    }
</div>

